<% include header.html %>
    <div class="container">
        <div class="row">
            <h2>About Us</h2>
            <p>
                我们根据斯蒂芬·克拉申(Stephen D. Krashen)，著名美国语言教育家，对第二语言习得提出的一系列假说探索出最高效的英语学习方法。 </p>
            <p>
                克拉申在他的情感过滤假设中指出,学习者的情感状态或态度是一个可以调节的过滤器,它可以使可理解性输入顺利通过,也可以阻隔甚至完全阻止习得所必需的输入｡在英语教学过程中,教师只给学生大量的语言输入而不注意学生的情感因素是达不到好的教学效果的｡所以我们提倡调动学生的情感因素，根据学生的经历来教学，这样不仅学生印象深刻，并且逐渐能形成英语思维，彻底摆脱中式英语。所以我们的口号是：
            </p>
            </p>
            <p>
                E Garden, E for English, Emotion and Experience, Easy and Excellent!
            </p>

            <h3>老师介绍</h3>
            <p>
                小墨 Irina，毕业于Top 10的华中科技大学，双学士学位，英语专业八级，Italki 网认证教师，大耳朵英语网认证教师，5年多线下和在线英语教学经验，教过的学生包括美国、加拿大、德国、俄国、澳大利亚、泰国和中国大陆的学员。教学风格严谨又不失风趣，深受学员喜爱。
            </p>
        </div>
    </div>

    <% include footer.html %>