<% include header.html %>
    <div class="container">
        <div class="row">
               <h2 class="text-center">class</h2>
            <div class="col-md-3">
                <h2>this is page</h2>
                <p>this is body</p>
            </div>  <div class="col-md-3">
                <h2>this is page</h2>
                <p>this is body</p>
            </div>  <div class="col-md-3">
                <h2>this is page</h2>
                <p>this is body</p>
            </div>  <div class="col-md-3">
                <h2>this is page</h2>
                <p>this is body</p>
            </div>  <div class="col-md-3">
                <h2>this is page</h2>
                <p>this is body</p>
            </div>  <div class="col-md-3">
                <h2>this is page</h2>
                <p>this is body</p>
            </div>  <div class="col-md-3">
                <h2>this is page</h2>
                <p>this is body</p>
            </div>
            
        </div>
    </div>

    <% include footer.html %>