<!DOCTYPE html>
<html lang="zh-CN" ng-app>

<head>
    <meta property="qc:admins" content="1127206563116401330724636" />
    <meta name="keywords" content="EGarden, 易学园，小墨，英语，免费英语课，英语口语" />
    <meta name="description" content="E Garden, E for English, Emotion and Experience, Easy and Excellent!" />
    <title>
        English, Emotion and Experience, Easy and Excellent!
    </title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap-calendar/css/calendar.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/underscore/underscore-min.js"></script>
    <script src="/bower_components/bootstrap-calendar/js/calendar.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
</head>

<body>

    <nav class="container-fluid navbar-default navbar-fixed-top">
        <div class="container navbar">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img style="margin-top:-14px;width:50px;border-radius:6.2px;"  src="http://d2rhekw5qr4gcj.cloudfront.net/img/100sqf/from/uploads/profiles/Irina_xiang_150320_0901_12.JPG" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li><a href="/class">Class</a>
                    </li>
                    <li><a href="/calendar">Calendar</a>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About us <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="divider"></li>
                                <li><a href="/about">About us</a>
                                    <li><a href="/teachers">Teachers</a>
                                    </li>

                            </ul>
                            </li>
                            <li><a href="/account">Account</a>
                            </li>
                </ul>
                <!--
                <form class="navbar-form navbar-left hidden-sm hidden-xs" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
-->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Users <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/login" class="btn btn-link">Sign in</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>