<% include header.html %>
    <div class="container">
        <div class="row">
               <div class="form">
                    <div class="col-md-6">
                      <label class="lable">nick name</label>     
                        <input type="text" class="form-control" />
                      <label class="lable">email</label>     
                        <input type="text" class="form-control" />
                      <label class="lable">address</label>     
                        <input type="text" class="form-control" />
                      <label class="lable">qq</label>     
                        <input type="text" class="form-control" />
                      <label class="lable">zipcode</label>     
                        <input type="text" class="form-control" />
                      <label class="lable">title</label>     
                        <input type="text" class="form-control" />
                      <label class="lable">region</label>     
                        <input type="text" class="form-control" />
                    <button class="btn btn-success form-control">Submit</button>
                   </div>
            </div>
        </div>
    </div>

    <% include footer.html %>