<% include header.html %>
    <div class="container">
        <h2>video list</h2>
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
<!--            <iframe class="embed-responsive-item" src="..."></iframe>-->
            <video class="embed-responsive-item" src="http://surveyaccount.blob.core.windows.net/video/test.mp4" controls="controls">
                your browser does not support the video tag
            </video>
        </div>
    </div>

    <% include footer.html %>